doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title PROYECTO UNO
    link(rel="stylesheet",href="css/style.css")
  body
    h1 Mario and Luigi
    .mario
        .hat-head
        .hat-logo
        .hat-brim

        .ear.left
        .ear.right

        .head
            .eyebrow.left
            .eyebrow.right

            .moustache

            .eye.left
            .eye.right

            .nose

    .luigi
        .hat-head
        .hat-logo
        .hat-brim

        .ear.left
        .ear.right

        .head
            .eyebrow.left
            .eyebrow.right

            .moustache

            .eye.left
            .eye.right

            .nose

   